<% provide(:title, 'About') %>

<main role="main" class="container">

  <div class="starter-template">
    <h1>About</h1>

    <p>
      <%= link_to 'Scott Fleming', sdflming_path %>
    </p>
  </div>

</main><!-- /.container -->
