
<% provide(:title, 'Wapp') %>

<main role="main" class="container">

  <h1>Welcome to Wapp, the Quizzing App!</h1>

  <p>
    Choose a quiz to take:
  </p>

  <ul>
    <% @quizzes.each do |quiz| %>
      <li>
        <%= link_to quiz.title, quiz_home_path(quiz) %>:
        <%= quiz.description %>
      </li>
    <% end %>
  </ul>

</main><!-- /.container -->
