
<% provide(:title, 'Wapp') %>

<main role="main" class="container">

  <h1>Welcome to Wapp, the Quizzing App!</h1>

  <p>
    <%= link_to 'Answer a randomly selected question', ask_multiple_choice_question_path(@multiple_choice_question) %>
  </p>

</main><!-- /.container -->
